/* Ajustes personalizados para Bootstrap */
body {
    background-color: #f4f4f4;
    color: #fff;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Ajustes de contraste */
.bg-dark {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #ccc;
}

/* Ajustes específicos de lista */
#listaReservas li {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

/* Viñetas centradas en confirmación de precio */
#textoPrecio ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    padding: 0;
    margin: 10px 0;
}
